@page "/fishBoatReport"
@inject IFishService FishService
@inject IReportService ReportService
@inject IJSRuntime JSRuntime

<div class="content-header">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Fish Boat Loads Report</li>
            </ol>
        </nav>

        <hr>
    </div>
</div>


<Card Hoverable Title="Fish Boat Loads Report">
    <div class="row mb-3">
        <div class="col-md-3">
            <Select DataSource="@Fishs"
                    Placeholder="Please Select Fish ..."
                    DefaultActiveFirstOption="false"
                    ValueName="@nameof(Fish.FishId)"
                    LabelName="@nameof(Fish.FishName)"
                    @bind-Value="@FishId">
            </Select>
        </div>
        <div class="col-md-3">
            From <DatePicker DefaultValue="DateTime.Today" @bind-Value="@FromDate" />
        </div>
        <div class="col-md-3">
            To <DatePicker DefaultValue="DateTime.Today" @bind-Value="@ToDate" />
        </div>
        <div class="col-md-3">
            <Button Type="@ButtonType.Primary" HtmlType="submit" OnClick="Search">
                Search
            </Button>
        </div>
    </div>

    <Table DataSource="BoatLoadDetailss" Size="TableSize.Small" Class="table table-responsive" Loading="_loading">
        <RowTemplate>
            <Column @bind-Field="@context.BoatLoadId" Title="Batch ID">Batch ID-@context.BoatLoadId</Column>
            <Column @bind-Field="@context.BoatLoadId" Title="Boat">@context.BoatLoad.Boat.BoatName</Column>
            <Column @bind-Field="@context.FishId" Title="Fish Type">@context.Fish.FishName</Column>
            <Column @bind-Field="@context.Quantity">@context.Quantity KG</Column>
            <Column @bind-Field="@context.DeliveredDate" Title="Delivered Date" TData="DateTime">
                @context.DeliveredDate.ToLongDateString()
            </Column>
        </RowTemplate>
    </Table>
</Card>

@code {

    bool _loading;
    public int FishId { get; set; }
    public DateTime FromDate { get; set; }
    public DateTime ToDate { get; set; }
    public BoatLoadDetails BoatLoadDetails { get; set; } = new BoatLoadDetails();
    public List<BoatLoadDetails> BoatLoadDetailss { get; set; } = new List<BoatLoadDetails>();
    public List<Fish> Fishs { get; set; } = new List<Fish>();

    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        Fishs = (await FishService.GetFishs()).ToList();
        _loading = false;
    }

    protected async Task Search()
    {
        _loading = true;
        BoatLoadDetailss = (await ReportService.FishBoatReport(FishId, FromDate.Date, ToDate.Date)).ToList();
        _loading = false;
    }

}